<h1> Snack Show page for <%= @snack.name %></h1>

Price for this snack: <%= @snack.price %><br>

Machine Locations :

<ul>

  <% @snack.machines.each do |machine| %>
  <li>
  <%= machine.location %>  (<%= machine.unique_snack_count %> kinds of snacks, average price of $<%= machine.average_snack_price %>0)
  </li>
  <% end %>
</ul>
